body{margin: 0; padding: 0;}
ul, li, a, div{margin: 0; padding: 0;}
.header{color:white; background-color: darkorange; text-align: center;
height: 40px; font-size: 28px;
}
.snav{position: fixed; left: 0; margin-left: 5px;}

/*#menu{display: none;} */

#menu{width: 100%; margin-top: 5%;}
.ulmenu li{height: 50px; width: 48%; margin: 5px .6%; background-color: whitesmoke; display: inline-block; list-style-type: none; margin-top: 1px;
text-align: center; padding-top: 2.5%;
} 
.ulmenu li a{color: indigo; margin-top: 10x; text-decoration: none; font-size: 20px;}

#scancontent{margin-top: 10px; display: none; border-style: dashed; border-color: black; border-width: 1px; }

#logobottom{margin-top: 20%;}
#row1{
   width:80%; height:20px; margin-left: 16% ;background-color: cadetblue;
}
#row2{
   margin-left: 2%; margin-top: 5px; width:80%; height:20px; background-color: darkred;
}
#row3{
   margin-left: 10%; margin-top: 5px; width:80%; height:20px ;background-color: olivedrab;
}
#photosubmit{height: 30px; width: 25%; background-color: darkorange; border-style: solid; 
border-width: thin; border-color: dimgrey; margin-left:37.5%;
text-align: center;display: none; margin-top: 20px; color: white; padding-top: 3px;
}
#demoflier{text-align: center; display: none;}
#splash p{}
.glyphicon-th-list{font-size: 30px; color: grey;}
#categ{display: none;}
